<?xml version="1.0"?>
<phpunit
        bootstrap="tests/bootstrap-wp-mock.php"
        backupGlobals="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
>
    <testsuites>
        <testsuite name="unittests">
            <directory prefix="Test" suffix=".php">./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
            <exclude>
                <directory suffix=".php">./tests</directory>
                <directory suffix=".php">./vendor</directory>
                <directory suffix=".php">./docs</directory>
                <directory suffix=".php">./assets</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>